
    <footer id="site-footer">
        <h3>
            Team 6 Final Project
        </h3>
        <p>
            Alejandro Caicedo, Ivan Alejandre, Randy Son, Matt Chan
        </p>
    </footer>
    </body>

</html>