<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <Title>Team 6 Final Proj</Title>
        <!--Add JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--Add my CSS-->
        <link href="css/ia_styles.css" rel="stylesheet">
        <!--Add my JS-->
        <script src="js/ia_js.js"></script>
        <!--Assoc fonts-->
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    </head>
        <body>
            <div id="adminHeader">
                <h2>Welcome, <%=adminName%>.</h2>



