<!-- Finalizes the shopping cart and allows the user to return to the home page.
-->


<% include partials/mc_header.ejs %>

</head>

<body>
  <h1>
    Checkout Succeeded!
  </h1>
  
  Your transaction number is: <%= transid =>
  
  <form action="/ac_login">
    <button>
      Go back to home
    </button>
  </form>
  
</body>

<% include partials/mc_footer.ejs %>