<!-- Planets have itemID, name, description, price
     Transactions have transID, itemID, and userID
     Goes to Transaction Table with transID, userID and timestamp
-->


<% include partials/mc_header.ejs %>

</head>

<body>
  <h1>
    Here is your order:
  </h1>
  
</body>

<% include partials/mc_footer.ejs %>