<!-- Items from the UserCart table is described in a table with price and quantity.
     Waits for user to confirm the checkout or return to shopping cart.
-->


<% include partials/mc_header.ejs %>

</head>
<br>
<body>
  <h1>
    Here is a summary of your order:
  </h1>
  
  <table id="checkoutTable" align="center">
    <tr>
      <th>Product Name</th>
      <th>Product Price per Unit</th>
      <th>Item Quantity</th>
    </tr>
    
    <% rows.forEach(function(row) { %>
    <tr>
      <th><%= row['itemName'] %></th>
      <th><%= row['price'].toLocaleString('en-US', {style: 'currency', currency: 'USD' }).split('.')[0] %></th>
      <th><%= row['itemquantity'] %></th>
    </tr>
    
    
    <% }) %>
  </table><br>
  Your total cost for the order will be:
  <%= totalCost.toLocaleString('en-US', {style: 'currency', currency: 'USD'}).split('.')[0] %>.<br><br><br>
  
  
  <form action="/checkoutButton">
    <button>
      Checkout
    </button>
  </form>
  <br>
<br>
  
</body>

<% include partials/mc_footer.ejs %>