<!-- Finalizes the shopping cart and allows the user to return to the home page.
-->


<% include partials/mc_header.ejs %>

</head>

<body>
  <br>
  <h1>
    Checkout Succeeded!
  </h1>
<br>
  
  Your transaction number is: <%= transid %>.<br><br>
  
  <form method="post" action="/ac_login">
    <button>
      Go back to home
    </button>
  </form>
  <br><br><br>
  
</body>

<% include partials/mc_footer.ejs %>