<% include partials/ac_header.ejs %>
<style>
    body {
        background-image: url("/img/ac_index.jpg");
    }
</style>

</head>
<body>
<div id="mainLogIn">

</div>


<% include partials/ac_footer.ejs %>