<% include partials/ac_header.ejs %>
<style>
    body {
        background-image: url("/img/ac_index.jpg");
    }
</style>

</head>
<body>
<div id="ac_mainLogIn">
    <h2>Welcome</h2>
    <form action="/login">
    User Name: <input type="text" name="ac_pass"> <br>
    Password: <input type="text" name="ac_pass"> <br>
    <button> Search </button> <br>
    </form>
</div>


<% include partials/ac_footer.ejs %>