
</head>
    <body>
        <main>
            
            <form id="ac_searchBar">
                Welcome <span id="nameSpan"><%=username%></span>  
                <input type="text" value="Search Items" name="serachItem">
                <button>Search</button>
            </form>

        </main>

