/*/////////////////////////////////////////////*/
/* Global Styles */
/*/////////////////////////////////////////////*/

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    color: white;  
    /*position:absolute;
    bottom:0;
    width:50%;*/
    background-color:rgba(0, 0, 0, 0.8);
}

#ac_mainLogIn {
    /*position: absolute;*/
    padding: 0 0 0 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    width: 40%;
    border: solid black;
    transform: translate(0%, 120%);
    text-align: center;
}

#nameSpan {
    color:rgb(0, 162, 255);
}

#ac_searchBar {
    display: inline;
    
}
/*/////////////////////////////////////////////*/
/* Flex Box Settings */
/*/////////////////////////////////////////////*/

/*Main Layout*/
#ac_welcomePageMain {
    display: flex;
}

#ac_newsFeed {
    flex:1;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.822);
}

#ac_displayArea {
    flex:5;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}
/*Daily Dashboard Layout Layout*/
#upperPart {
    display: flex !important;
}
#ac_apod {
    flex: 2;
}
#ac_usage{
    flex: 2;
}

/*/////////////////////////////////////////////*/
/* Page Specific settings */
/*/////////////////////////////////////////////*/

#ac_mainLogIn h3 {
    color: red;
    font-size: 0.8em;
}

#ac_newsFeed a {
    font-size: 0.8em;        
}

#ac_searchBar_div {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;    
    border-radius: 20px;
}

#ac_searchBar_div form {
    font-size: 1.2em;
    font-weight: bold;
    color: white;    
}

#ac_newsFeed h2 {
    text-align: center;
}



#ac_adminBtn {
    color:white;
    background-color: rgba(144, 144, 144, 0.8);
    border: none;
    font-size: 0.9em
}

#ac_logoutBtn {
    color:white;
    background-color: rgba(144, 144, 144, 0.8);
    border: none;
    font-size: 0.9em;
    margin: 1px 1px 1px 1px;
}

#ac_userBtnDiv{
    display: flex;
}



















