/*/////////////////////////////////////////////*/
/* Global Styles */
/*/////////////////////////////////////////////*/


footer {
    color: white;  
    /*position:absolute;
    bottom:0;
    width:50%;*/
    background-color:rgba(0, 0, 0, 0.8);
}

#ac_mainLogIn {
    /*position: absolute;*/
    padding: 0 0 0 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    width: 40%;
    border: solid black;
    transform: translate(0%, 120%);
    text-align: center;
}

#nameSpan {
    color:rgb(0, 162, 255);
}

#ac_searchBar {
    display: inline;
    background-color: red;
}
/*/////////////////////////////////////////////*/
/* Flex Box Settings */
/*/////////////////////////////////////////////*/

#ac_welcomePageMain {
    display: flex;
}

#ac_newsFeed {
    flex:1;
    border: solid black 1px;
}

#ac_displayArea {
    flex:5;
    border: solid black 1px;
}

