/*/////////////////////////////////////////////*/
/* Global Styles */
/*/////////////////////////////////////////////*/
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    color: black;
}

footer {
    color: white;
    background-color:rgba(0, 0, 0, 0.8);
}

#ac_mainLogIn {
    /*position: absolute;*/
    padding: 0 0 0 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    width: 40%;
    border: solid black;
    transform: translate(0%, 120%);
    text-align: center;
}

#nameSpan {
    color:rgb(0, 162, 255);
}



/*/////////////////////////////////////////////*/
/* Admin Styles */
/*/////////////////////////////////////////////*/

#adminHeader {
    margin: 15px;
}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 3px solid #f1f1f1;
    z-index: 1;
}

/* Add styles to the form container */
.form-container {
    margin: auto;
    max-width: 45%;
    padding: 20px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.error {
    display: none;
}

/* Table formatting */
tr:hover {
   background-color: whitesmoke;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}

.descriptionCol {
    width: 60%;
}

.tableData {
    margin-bottom: 10px;
    margin-left: 40px;
}

/* Button styles*/
.tableBtn {
    padding: 20px;
    margin-right: 25px;
    font-size: large;
    margin-bottom: 40px;
}

#addItem {
    background-color: green;
    border-color: green;
    margin-left: 15px;
}

#updateItem {
    background-color: darkslateblue;
    border-color: darkslateblue;
}

#removeItem {
    background-color: red;
    border-color: red;
}

/* Nav bar styles */
ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    background-color: dimgrey;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li {
    display: inline-block;
    color: silver;
    text-decoration: none;
    padding: 8px 16px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#about {
    float: right;
    width: 120px;
    text-align: center;
}

.navBarActive {
    background-color: lightblue;
    color: black;
}

/* Work area div elements initially hidden */
#itemTable {
    display: none;
}

#reportsPage {
    display: none;
}

/* Reports styling */
#querySpecifier {
    display: none;
}

.selectpicker {
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 15px;
    font-size: large;
}

#reportsSubmit {
    margin-left: 10px;
    font-size: large;
}